*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.page {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(130deg, rgb(27, 27, 27),rgb(129, 128, 128),gray)

}
  
